Source: qt6-emacs-key-theme
Section: utils
Priority: optional
Maintainer: Yuya Nishihara <yuya@tcha.org>
Build-Depends:
  debhelper-compat (= 13),
  cmake,
  qt6-base-dev,
  qt6-base-private-dev,
  qt6-tools-dev-tools,
Standards-Version: 4.6.1
Homepage: https://github.com/yuja/qt-emacs-key-theme/
Vcs-Browser: https://github.com/yuja/qt-emacs-key-theme/
Vcs-Git: https://github.com/yuja/qt-emacs-key-theme.git
Rules-Requires-Root: no

Package: qt6-emacs-key-theme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Emacs-like key theme for Qt
 This provides Qt platform theme plugin to replace the standard key bindings.
