*.autosave
*.orig
*.rej
*~
CMakeLists.txt.user
CMakeLists.txt.user.*

# deb packaging
/debian/*.substvars
/debian/.debhelper/
/debian/changelog
/debian/debhelper-*
/debian/files
/debian/qt-emacs-key-theme/
/obj-*/
