Source: qt-emacs-key-theme
Section: unknown
Priority: optional
Maintainer: Yuya Nishihara <yuya@tcha.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/qt-emacs-key-theme
#Vcs-Git: https://salsa.debian.org/debian/qt-emacs-key-theme.git
Rules-Requires-Root: no

Package: qt-emacs-key-theme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
